<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li>
                    <a href="/web/pharmacy/"><i class="fa fa-medkit"></i> <span>Drug Requests</span></a>
                </li>
                <li>
                    <a href="/web/pharmacy/accepted"><i class="fa fa-check"></i> <span>Accepted Requests</span></a>
                </li>
                <li>
                    <a href="/web/pharmacy/finished"><i class="fa fa-calendar-check-o"></i> <span>Finished Requests</span></a>
                </li>
                
               
                
               
               
            </ul>
        </div>
    </div>
</div>