<!DOCTYPE html>
<html lang="en">


<!-- blog-details23:51-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.min.js"></script>
		<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <style>
        .about-author-img-note {
            background-color: #fff;
            height: 70px;
            overflow: hidden;
            position: absolute;
            width: 70px;
        }
    </style>
    <div class="main-wrapper">
        <%- include('partials/header') %>
        <%- include('partials/sidemenu') %>



        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="mailview-content">
                                <div class="mailview-header">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="text-ellipsis m-b-10">
                                                <span class="mail-view-title">DOCTRINE - BlockChain Medical App By
                                                    SinaBiel</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sender-info">
                                        <div class="sender-img">
                                            <img width="40" alt="" src="/assets/img/karray.jpg" class="rounded-circle">
                                        </div>
                                        <div class="receiver-details float-left">
                                            <span class="sender-name">
                                                Encadreur : Karray Gargouri (karray.gargouri@esprit.tn)</span>
                                            <span class="receiver-name">
                                                Ingénieur en informatique - Technologue à ESPRIT►</span>
                                            </span>
                                        </div>
                                        <div class="mail-sent-time">
                                            <span class="mail-time">17 May. 2020 3:57 PM</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="mailview-inner">
                                    <p class="capitalize">Hello <%= name %>,</p>
                                    <p>Doctian, is a Cross-platform user friendly application available on the web,
                                        Android and coming soon to iOS, it's objective is to connect different parties
                                        in the health sectors, such as patients, doctors, laboratories, pharmacies and
                                        pharmaceutical companies.</p>
                                    <p>
                                        What differentiates Doctian from other medical applications, is the
                                        interconnexion of medical papers such as medical files, perscriptions,
                                        laboratory scans through one single powerful platform that uses blockchain
                                        technologies to insure security, and availability.
                                    </p>
                                    <p>Thanks,
                                        <br> Team SinaBiel - Esprit </p>
                                </div>
                            </div>
                            <div class="mail-attachments">
                                <p><i class="fa fa-user"></i> TEAMS Members :</p>
                                <ul class="attachments clearfix text-center">

                                    <li>
                                        <div class="attach-file"><img src="/assets/img/raouf.jpg" alt="Attachment">
                                        </div>
                                        <div class="attach-info">
                                            <a href="#" class="attach-filename">Aouadi Raouf</a>
                                            <div class="attach-fileize"> Esprit 4 SIM 1 </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="attach-file"><img src="/assets/img/firasbm.jpg" alt="Attachment">
                                        </div>
                                        <div class="attach-info">
                                            <a href="#" class="attach-filename">Ben Mbarek Firas</a>
                                            <div class="attach-fileize"> Esprit 4 SIM 1 </div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="attach-file"><img src="/assets/img/firasbs.jpg" alt="Attachment">
                                        </div>
                                        <div class="attach-info">
                                            <a href="#" class="attach-filename">Ben Salah Firas</a>
                                            <div class="attach-fileize"> Esprit 4 SIM 1 </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="attach-file"><img src="/assets/img/saif.jpg" alt="Attachment"></div>
                                        <div class="attach-info">
                                            <a href="#" class="attach-filename">Rhouma SaifEddine</a>
                                            <div class="attach-fileize"> Esprit 4 SIM 1 </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/app.js"></script>
</body>


<!-- blog-details23:56-->

</html>